.korea-good-item_3-1{
  width: 30%;
  height: 16%;
  left: 42%;
  bottom: 81%;
}

.korea-good-item_3-2{
  width: 30%;
  height: 16%;
  left: 72%;
  bottom: 81%;
}

.korea-good-item_3-3{
  width: 30%;
  height: 16%;
  left: 42%;
  bottom: 62%;
}
.korea-good-item_3-4{
  width: 30%;
  height: 16%;
  left: 72%;
  bottom: 62%;
}

.korea-good-item_3-5{
  width: 25%;
  height: 16%;
  left: 0%;
  bottom: 44%;
}
.korea-good-item_3-6{
  width: 25%;
  height: 16%;
  left: 25%;
  bottom: 44%;
}
.korea-good-item_3-7{
  width: 25%;
  height: 16%;
  left: 50%;
  bottom: 44%;
}
.korea-good-item_3-8{
  width: 25%;
  height: 16%;
  left: 75%;
  bottom: 44%;
}
.korea-good-item_3-9{
  width: 32%;
  height: 18%;
  left: 0%;
  bottom: 26%;
}
.korea-good-item_3-10{
  width: 32%;
  height: 18%;
  left: 32%;
  bottom: 26%;
}
.korea-good-item_3-11{
  width: 32%;
  height: 18%;
  left: 64%;
  bottom: 26%;
}
.korea-good-item_3-12{
  width: 32%;
  height: 18%;
  left: 0%;
  bottom: 7%;
}
.korea-good-item_3-13{
  width: 32%;
  height: 18%;
  left: 32%;
  bottom: 7%;
}
.korea-good-item_3-14{
  width: 32%;
  height: 18%;
  left: 64%;
  bottom: 7%;
}
