.korea-good-item_4-1{
   width: 25%;
   height: 30%;
   left: 0%;
   bottom: 64%;
}
.korea-good-item_4-2{
  width: 25%;
  height: 18%;
  left: 25%;
  bottom: 80%;
}
.korea-good-item_4-3{
  width: 25%;
  height: 18%;
  left: 50%;
  bottom: 80%;
}
.korea-good-item_4-4{
  width: 25%;
  height: 18%;
  left: 75%;
  bottom: 80%;
}
.korea-good-item_4-5{
  width: 25%;
  height: 16%;
  left: 25%;
  bottom: 64%;
}
.korea-good-item_4-6{
  width: 25%;
  height: 16%;
  left: 50%;
  bottom: 64%;
}
.korea-good-item_4-7{
  width: 25%;
  height: 16%;
  left: 75%;
  bottom: 64%;
}
.korea-good-item_4-8{
  width: 25%;
  height: 16%;
  left: 0%;
  bottom: 48%;
}
.korea-good-item_4-9{
  width: 25%;
  height: 16%;
  left: 25%;
  bottom: 48%;
}
.korea-good-item_4-10{
  width: 25%;
  height: 16%;
  left: 50%;
  bottom: 48%;
}
.korea-good-item_4-11{
  width: 25%;
  height: 16%;
  left: 75%;
  bottom: 48%;
}
.korea-good-item_4-12{
  width: 25%;
  height: 16%;
  left: 0%;
  bottom: 32%;
}
.korea-good-item_4-13{
  width: 25%;
  height: 16%;
  left: 25%;
  bottom: 32%;
}
.korea-good-item_4-14{
  width: 25%;
  height: 16%;
  left: 50%;
  bottom: 32%;
}
.korea-good-item_4-15{
  width: 25%;
  height: 34%;
  left: 75%;
  bottom: 14%;
}
.korea-good-item_4-16{
  width: 25%;
  height: 18%;
  left: 0%;
  bottom: 14%;
}
.korea-good-item_4-17{
  width: 25%;
  height: 18%;
  left: 25%;
  bottom: 14%;
}
.korea-good-item_4-18{
  width: 25%;
  height: 18%;
  left: 50%;
  bottom: 14%;
}
