.preferential-good-item_14-1{
  width: 32%;
  height: 16%;
  left: 0;
  bottom: 81%;
}
.preferential-good-item_14-2{
  width: 32%;
  height: 16%;
  left: 32%;
  bottom: 81%;
}
.preferential-good-item_14-3{
  width: 32%;
  height: 16%;
  left: 0%;
  bottom: 63%;
}
.preferential-good-item_14-4{
   width: 32%;
   height: 16%;
   left: 32%;
   bottom: 63%;
 }
.preferential-good-item_14-5{
  width: 25%;
  height: 18%;
  left: 0%;
  bottom: 44%;
}
.preferential-good-item_14-6{
  width: 25%;
  height: 18%;
  left: 25%;
  bottom: 44%;
}
.preferential-good-item_14-7{
  width: 25%;
  height: 18%;
  left: 50%;
  bottom: 44%;
}
.preferential-good-item_14-8{
  width: 25%;
  height: 18%;
  left: 75%;
  bottom: 44%;
}
.preferential-good-item_14-9{
  width: 32%;
  height: 18%;
  left: 0%;
  bottom: 26%;
}
.preferential-good-item_14-10{
  width: 32%;
  height: 18%;
  left: 32%;
  bottom: 26%;
}
.preferential-good-item_14-11{
  width: 32%;
  height: 18%;
  left: 64%;
  bottom: 26%;
}
.preferential-good-item_14-12{
  width: 32%;
  height: 18%;
  left: 0%;
  bottom: 7%;
}
.preferential-good-item_14-13{
  width: 32%;
  height: 18%;
  left: 32%;
  bottom: 7%;
}
.preferential-good-item_14-14{
  width: 32%;
  height: 18%;
  left: 64%;
  bottom: 7%;
}
