.preferential-good-item_15-1{
  width: 30%;
  height: 16%;
  left: 42%;
  bottom: 81%;
}

.preferential-good-item_15-2{
  width: 30%;
  height: 16%;
  left: 72%;
  bottom: 81%;
}

.preferential-good-item_15-3{
  width: 30%;
  height: 16%;
  left: 42%;
  bottom: 62%;
}
.preferential-good-item_15-4{
  width: 30%;
  height: 16%;
  left: 72%;
  bottom: 62%;
}

.preferential-good-item_15-5{
  width: 25%;
  height: 16%;
  left: 0%;
  bottom: 44%;
}
.preferential-good-item_15-6{
  width: 25%;
  height: 16%;
  left: 25%;
  bottom: 44%;
}
.preferential-good-item_15-7{
  width: 25%;
  height: 16%;
  left: 50%;
  bottom: 44%;
}
.preferential-good-item_15-8{
  width: 25%;
  height: 16%;
  left: 75%;
  bottom: 44%;
}
.preferential-good-item_15-9{
  width: 32%;
  height: 18%;
  left: 0%;
  bottom: 26%;
}
.preferential-good-item_15-10{
  width: 32%;
  height: 18%;
  left: 32%;
  bottom: 26%;
}
.preferential-good-item_15-11{
  width: 32%;
  height: 18%;
  left: 64%;
  bottom: 26%;
}
.preferential-good-item_15-12{
  width: 32%;
  height: 18%;
  left: 0%;
  bottom: 7%;
}
.preferential-good-item_15-13{
  width: 32%;
  height: 18%;
  left: 32%;
  bottom: 7%;
}
.preferential-good-item_15-14{
  width: 32%;
  height: 18%;
  left: 64%;
  bottom: 7%;
}
