.preferential-good-item_13-1{
  width: 32%;
  height: 14%;
  left: 0;
  bottom: 22%;
}
.preferential-good-item_13-2{
  width: 32%;
  height: 14%;
  left: 32%;
  bottom: 22%;
}
.preferential-good-item_13-3{
  width: 32%;
  height: 14%;
  left: 64%;
  bottom: 22%;
}
.preferential-good-item_13-4{
  width: 32%;
  height: 14%;
  left: 0;
  bottom: 7%;
}
.preferential-good-item_13-5{
  width: 32%;
  height: 14%;
  left: 32%;
  bottom: 7%;
}
.preferential-good-item_13-6{
  width: 32%;
  height: 14%;
  left: 64%;
  bottom: 7%;
}
