.preferential-good-item_16-1{
   width: 25%;
   height: 30%;
   left: 0%;
   bottom: 64%;
}
.preferential-good-item_16-2{
  width: 25%;
  height: 18%;
  left: 25%;
  bottom: 80%;
}
.preferential-good-item_16-3{
  width: 25%;
  height: 18%;
  left: 50%;
  bottom: 80%;
}
.preferential-good-item_16-4{
  width: 25%;
  height: 18%;
  left: 75%;
  bottom: 80%;
}
.preferential-good-item_16-5{
  width: 25%;
  height: 16%;
  left: 25%;
  bottom: 64%;
}
.preferential-good-item_16-6{
  width: 25%;
  height: 16%;
  left: 50%;
  bottom: 64%;
}
.preferential-good-item_16-7{
  width: 25%;
  height: 16%;
  left: 75%;
  bottom: 64%;
}
.preferential-good-item_16-8{
  width: 25%;
  height: 16%;
  left: 0%;
  bottom: 48%;
}
.preferential-good-item_16-9{
  width: 25%;
  height: 16%;
  left: 25%;
  bottom: 48%;
}
.preferential-good-item_16-10{
  width: 25%;
  height: 16%;
  left: 50%;
  bottom: 48%;
}
.preferential-good-item_16-11{
  width: 25%;
  height: 16%;
  left: 75%;
  bottom: 48%;
}
.preferential-good-item_16-12{
  width: 25%;
  height: 16%;
  left: 0%;
  bottom: 32%;
}
.preferential-good-item_16-13{
  width: 25%;
  height: 16%;
  left: 25%;
  bottom: 32%;
}
.preferential-good-item_16-14{
  width: 25%;
  height: 16%;
  left: 50%;
  bottom: 32%;
}
.preferential-good-item_16-15{
  width: 25%;
  height: 34%;
  left: 75%;
  bottom: 14%;
}
.preferential-good-item_16-16{
  width: 25%;
  height: 18%;
  left: 0%;
  bottom: 14%;
}
.preferential-good-item_16-17{
  width: 25%;
  height: 18%;
  left: 25%;
  bottom: 14%;
}
.preferential-good-item_16-18{
  width: 25%;
  height: 18%;
  left: 50%;
  bottom: 14%;
}
