.preferential-good-item_7-1{
  width: 48%;
  left: 2%;

  height: 22%;
  bottom: 72%;
}

.preferential-good-item_7-2{
  width: 24%;
  left: 50%;

  height: 11%;
  bottom: 83%;
}
.preferential-good-item_7-3{
  width: 24%;
  left: 50%;

  height: 11%;
  bottom: 72%;
}

.preferential-good-item_7-4{
  width: 24%;
  left: 74%;

  height: 22%;
  bottom: 72%;
}

.preferential-good-item_7-5{
  width: 24%;
  left: 2%;

  height: 10%;
  bottom: 62%;
}
.preferential-good-item_7-6{
  width: 24%;
  left: 26%;

  height: 10%;
  bottom: 62%;
}

.preferential-good-item_7-7{
  width: 24%;
  left: 50%;

  height: 10%;
  bottom: 62%;
}
.preferential-good-item_7-8{
  width: 24%;
  left: 74%;

  height: 10%;
  bottom: 62%;
}

.preferential-good-item_7-9{
  width: 24%;
  left: 2%;

  height: 10%;
  bottom: 51%;
}

.preferential-good-item_7-10{
  width: 24%;
  left: 26%;

  height: 10%;
  bottom: 51%;
}
.preferential-good-item_7-11{
  width: 24%;
  left: 50%;

  height: 10%;
  bottom: 51%;
}

.preferential-good-item_7-12{
  width: 24%;
  left: 74%;

  height: 10%;
  bottom: 51%;
}
.preferential-good-item_7-13{
  width: 48%;
  left: 2%;

  height: 20%;
  bottom: 23%;
}

.preferential-good-item_7-14{
  width: 24%;
  left: 50%;

  height: 10%;
  bottom: 33%;
}

.preferential-good-item_7-15{
  width: 24%;
  left: 74%;

  height: 10%;
  bottom: 33%;
}
.preferential-good-item_7-16{
  width: 24%;
  left: 50%;

  height: 10%;
  bottom: 23%;
}

.preferential-good-item_7-17{
  width: 24%;
  left: 74%;

  height: 10%;
  bottom: 23%;
}
.preferential-good-item_7-18{
  width: 24%;
  left: 2%;

  height: 10%;
  bottom: 12%;
}

.preferential-good-item_7-19{
  width: 24%;
  left: 26%;

  height: 10%;
  bottom: 12%;
}

.preferential-good-item_7-20{
  width: 24%;
  left: 2%;

  height: 10%;
  bottom: 1%;
}
.preferential-good-item_7-21{
  width: 24%;
  left: 26%;

  height: 10%;
  bottom: 1%;
}

.preferential-good-item_7-22{
  width: 48%;
  left: 50%;

  height: 22%;
  bottom: 1%;
}
