.preferential-good-item_1-1{
  width: 33%;
  height: 18%;
  left: 0;
  bottom: 2%;
}
.preferential-good-item_1-2{
  width: 33%;
  height: 14%;

  left: 33%;
  bottom: 2%;
}
.preferential-good-item_1-3{
  width: 33%;
  height: 14%;
  left: 66%;
  bottom: 2%;
}
