.good-item_2-1{
  width: 25%;
  height: 18%;
  position: absolute;
  left: 0;
  bottom: 2%;
}
.good-item_2-2{
  width: 25%;
  height: 14%;
  position: absolute;
  left: 33%;
  bottom: 2%;
}
.good-item_2-3{
  width: 25%;
  height: 14%;
  position: absolute;
  left: 66%;
  bottom: 2%;
}
