.good-item_4-1{
  width: 22%;
  left: 0%;

  height: 12%;
  bottom: 85%;
}

.good-item_4-2{
  width: 22%;
  left: 22%;

  height: 12%;
  bottom: 85%;
}
.good-item_4-3{
  width: 20%;
  left: 44%;

  height: 12%;
  bottom: 85%;
}

.good-item_4-4{
  width: 22%;
  left: 64%;

  height: 12%;
  bottom: 85%;
}

.good-item_4-5{
  width: 25%;
  left: 0%;

  height: 12%;
  bottom: 71%;
}
.good-item_4-6{
  width: 25%;
  left: 25%;

  height: 12%;
  bottom: 71%;
}

.good-item_4-7{
  width: 25%;
  left: 50%;

  height: 12%;
  bottom: 71%;
}
.good-item_4-8{
  width: 25%;
  left: 0%;

  height: 14%;
  bottom: 57%;
}

.good-item_4-9{
  width: 25%;
  left: 25%;

  height: 14%;
  bottom: 57%;
}

.good-item_4-10{
  width: 25%;
  left: 50%;

  height: 14%;
  bottom: 57%;
}
.good-item_4-11{
  width: 25%;
  left: 75%;

  height: 14%;
  bottom: 57%;
}

.good-item_4-12{
  width: 25%;
  left: 0%;

  height: 14%;
  bottom: 43%;
}
.good-item_4-13{
  width: 25%;
  left: 25%;

  height: 14%;
  bottom: 43%;
}

.good-item_4-14{
  width: 50%;
  left: 50%;

  height: 14%;
  bottom: 43%;
}

.good-item_4-15{
  width: 25%;
  left: 0%;

  height: 14%;
  bottom: 27%;
}
.good-item_4-16{
  width: 25%;
  left: 25%;

  height: 14%;
  bottom: 27%;
}

.good-item_4-17{
  width: 25%;
  left: 50%;

  height: 14%;
  bottom: 27%;
}
.good-item_4-18{
  width: 25%;
  left: 75%;

  height: 14%;
  bottom: 27%;
}

.good-item_4-19{
  width: 25%;
  left: 35%;

  height: 12%;
  bottom: 15%;
}
.good-item_4-20{
  width: 22%;
  left: 0%;

  height: 14%;
  bottom: 0%;
}
.good-item_4-21{
  width: 18%;
  left: 22%;

  height: 14%;
  bottom: 0%;
}

.good-item_4-22{
  width: 18%;
  left: 40%;

  height: 14%;
  bottom: 0%;
}
.good-item_4-23{
  width: 50%;
  left: 60%;

  height: 26%;
  bottom: 0%;
}


