.preferential-good-item_9-1{
  width: 18%;
  left: 50%;
  height: 22%;
  bottom: 74%;
}

.preferential-good-item_9-2{
  width: 18%;
  left: 68%;
  height: 22%;
  bottom: 74%;
}
.preferential-good-item_9-3{
  width: 32%;
  left: 0%;
  height: 22%;
  bottom: 56%;
}

.preferential-good-item_9-4{
  width: 32%;
  left: 32%;
  height: 18%;
  bottom: 56%;
}

.preferential-good-item_9-5{
  width: 32%;
  left: 64%;
  height: 18%;
  bottom: 56%;
}
.preferential-good-item_9-6{
  width: 32%;
  left: 0%;
  height: 16%;
  bottom: 40%;
}

.preferential-good-item_9-7{
  width: 32%;
  left: 32%;
  height: 16%;
  bottom: 40%;
}
.preferential-good-item_9-8{
  width: 32%;
  left: 64%;
  height: 16%;
  bottom: 40%;
}

.preferential-good-item_9-9{
  width: 50%;
  left: 0%;
  height: 16%;
  bottom: 24%;
}

.preferential-good-item_9-10{
  width: 50%;
  left: 50%;
  height: 16%;
  bottom: 24%;
}
.preferential-good-item_9-11{
  width: 32%;
  left: 0%;
  height: 20%;
  bottom: 2%;
}

.preferential-good-item_9-12{
  width: 36%;
  left: 32%;
  height: 20%;
  bottom: 2%;
}
.preferential-good-item_9-13{
  width: 32%;
  left: 68%;
  height: 20%;
  bottom: 2%;
}
