.preferential-good-item_11-1{
  width: 50%;
  left: 34%;
  height: 22%;
  bottom: 79%;
}

.preferential-good-item_11-2{
  width: 25%;
  left: 22%;
  height: 10%;
  bottom: 69%;
}

.preferential-good-item_11-3{
  width: 30%;
  left: 47%;
  height: 10%;
  bottom: 69%;
}

.preferential-good-item_11-4{
  width: 33%;
  left: 4%;
  height: 10%;
  bottom: 59%;
}
.preferential-good-item_11-5{
  width: 33%;
  left: 37%;
  height: 10%;
  bottom: 59%;
}

.preferential-good-item_11-6{
  width: 20%;
  left: 77%;
  height: 20%;
  bottom: 59%;
}
.preferential-good-item_11-7{
  width: 33%;
  left: 0%;
  height: 10%;
  bottom: 45%;
}

.preferential-good-item_11-8{
  width: 33%;
  left: 33%;
  height: 10%;
  bottom: 45%;
}

.preferential-good-item_11-9{
  width: 33%;
  left: 66%;
  height: 10%;
  bottom: 45%;
}
.preferential-good-item_11-10{
  width: 24%;
  left: 0%;
  height: 10%;
  bottom: 34%;
}

.preferential-good-item_11-11{
  width: 24%;
  left: 24%;
  height: 10%;
  bottom: 34%;
}
.preferential-good-item_11-12{
  width: 24%;
  left: 48%;
  height: 10%;
  bottom: 34%;
}

.preferential-good-item_11-13{
  width: 24%;
  left: 72%;
  height: 10%;
  bottom: 34%;
}

.preferential-good-item_11-14{
  width: 20%;
  left: 0%;
  height: 14%;
  bottom: 16%;
}
.preferential-good-item_11-15{
  width: 20%;
  left: 20%;
  height: 14%;
  bottom: 16%;
}

.preferential-good-item_11-16{
  width: 20%;
  left: 40%;
  height: 14%;
  bottom: 16%;
}
.preferential-good-item_11-17{
  width: 14%;
  left: 60%;
  height: 14%;
  bottom: 16%;
}

.preferential-good-item_11-18{
  width: 18%;
  left: 74%;
  height: 14%;
  bottom: 16%;
}

.preferential-good-item_11-19{
  width: 24%;
  left: 0%;
  height: 14%;
  bottom: 2%;
}
.preferential-good-item_11-20{
  width: 24%;
  left: 24%;
  height: 14%;
  bottom: 2%;
}

.preferential-good-item_11-21{
  width: 24%;
  left: 48%;
  height: 14%;
  bottom: 2%;
}
.preferential-good-item_11-22{
  width: 24%;
  left: 72%;
  height: 14%;
  bottom: 2%;
}
