.good-item_5-1{
  width: 25%;
  left: 25%;
  height: 25%;
  bottom: 72%;
}

.good-item_5-2{
  width: 18%;
  left: 50%;
  height: 25%;
  bottom: 72%;
}
.good-item_5-3{
  width: 14%;
  left: 68%;
  height: 25%;
  bottom: 72%;
}

.good-item_5-4{
  width: 14%;
  left: 82%;
  height: 25%;
  bottom: 72%;
}

.good-item_5-5{
  width: 30%;
  left: 0;
  height: 14%;
  bottom: 57%;
}
.good-item_5-6{
  width: 30%;
  left: 30%;
  height: 14%;
  bottom: 57%;
}

.good-item_5-7{
  width: 30%;
  left: 63%;
  height: 14%;
  bottom: 57%;
}
.good-item_5-8{
  width: 30%;
  left: 0%;
  height: 14%;
  bottom: 43%;
}

.good-item_5-9{
  width: 30%;
  left: 30%;
  height: 14%;
  bottom: 43%;
}

.good-item_5-10{
  width: 30%;
  left: 63%;
  height: 14%;
  bottom: 43%;
}
.good-item_5-11{
  width: 30%;
  left: 0%;
  height: 14%;
  bottom: 29%;
}

.good-item_5-12{
  width: 30%;
  left: 30%;
  height: 14%;
  bottom: 29%;
}
.good-item_5-13{
  width: 30%;
  left: 63%;
  height: 14%;
  bottom: 29%;
}

.good-item_5-14{
  width: 30%;
  left: 0%;
  height: 14%;
  bottom: 15%;
}

.good-item_5-15{
  width: 70%;
  left: 30%;
  height: 25%;
  bottom: 0%;
}
.good-item_5-16{
  width: 18%;
  left: 0%;
  height: 15%;
  bottom: 0%;
}

.good-item_5-17{
  width: 12%;
  left: 18%;
  height: 15%;
  bottom: 0%;
}
